У цьому блокноті підсумовані інструменти та екосистема даних.
Деякі з популярних мов, які використовують науковці з даних, це:
<ol>
    <li>Python;</li>
    <li>C++:</li>
    <li>Julia;</li>
    <li>Java.</li>
</ol>
<h1> Objectives:</h1>
<h2>List popular languages for Data Science.</h2>
<ul>
   <li>python</li>
    <li>java</li>
    <li>julia</li>
</ul>
<body>Деякі з загальновживаних бібліотек, які використовують науковці з даних, включають:</body>
<ol> 
    <li>Pandas;</li>
    <li>TensorFlow;</li>
    <li>Keras.</li>
    </ol>

<table>
    <td>Інструменти даних</td>
    <td>Jupiter notebook</td>
    <td>SAS</td>
    <td>Tableau</td>
</table>

In [ ]:
<h3>Below are a few examples of evaluating arithmetic expressions in Python:</h3>

In [ ]:
 This a simple arithmetic expression to mutiply then add integers.

In [4]:
(3*4)+5

17

In [5]:
 This will convert 200 minutes to hours by diving by 60

<class 'SyntaxError'>: invalid syntax (<ipython-input-5-61c3f375fb64>, line 1)

<class 'SyntaxError'>: illegal target for annotation (<ipython-input-7-28dda899c93e>, line 1)

<h2>Author</h2>
<body>Myroslava</body>