<h1>Data Science Tools and Ecosystem</h1>

<body> In this notebook, Data Science Tools and Ecosystem are summarized.
Some of the popular languages that Data Scientists use are:</body>
<ol>
    <li>Python;</li>
    <li>C++:</li>
    <li>Julia;</li>
    <li>Java.</li>
</ol>
<h1> Objectives:</h1>
<h2>List popular languages for Data Science.</h2>
<ul>
   <li>python</li>
    <li>java</li>
    <li>julia</li>
</ul>
<body>Some of the commonly used libraries used by Data Scientists include:</body>
<ol> 
    <li>Pandas;</li>
    <li>TensorFlow;</li>
    <li>Keras.</li>
    </ol>

<table>
    <caption><h2>Data Science Tools</h2></caption>
    <tr>
        <th>Jupiter notebook</th>
    </tr>
  <tr>
      <td>SAS</td>
  </tr>
    <tr>
    <td>Tableau</td>
    </tr>
</table>

<h3>Below are a few examples of evaluating arithmetic expressions in Python:</h3>

In [ ]:
 #This a simple arithmetic expression to mutiply then add integers.

In [4]:
(3*4)+5

17

In [8]:
minutes = 200
hours = minutes / 60
print(hours) #this will convert 200 minutes to hours by diving by 60

3.3333333333333335

<h2>Author</h2>
<body>Myroslava</body>